body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  background: #fff;
  padding: 20px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 200px; /* Adjust the size as needed */
  margin-bottom: 20px;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.container input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container button {
  padding: 10px 15px;
  margin: 10px 0;
  width: 100%;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 20px;
  font-size: 16px;
}